In [1]:
from dotenv import load_dotenv
import os
from firebase_admin import credentials, initialize_app, db

In [2]:
cred = credentials.Certificate('serviceAccountKey.json')
initialize_app(cred, {'databaseURL':"https://thesis-evaluation-survey-default-rtdb.europe-west1.firebasedatabase.app/"})

In [3]:
responses = db.reference('surveys').get()
print(f"{len(responses)} responses")

34 responses

In [4]:
for response_id, data in responses.items():
    for _, dicts in data.items():
        print(tuple(dicts.values()))
        break

('35-44', 'Male', 'United Kingdom of Great Britain and Northern Ireland', 'At university')
('25-34', 'Male', 'Sudan', 'At university')
('18-24', 'Female', 'Romania', 'Full-time employed')
('25-34', 'Female', 'United States of America', 'At university')
('45-54', 'Male', 'Russian Federation', 'Self employed')
('25-34', 'Male', 'India', 'At university')
('25-34', 'Male', 'India', 'Full-time employed')
('25-34', 'Female', 'United Kingdom of Great Britain and Northern Ireland', 'At university')
('25-34', 'Female', 'United Kingdom of Great Britain and Northern Ireland', 'At university')
('25-34', 'Male', 'Korea, Republic of', 'At university')
('25-34', 'Female', 'United Kingdom of Great Britain and Northern Ireland', 'Part-time employed')
('25-34', 'Male', 'Germany', 'At university')
('18-24', 'Male', 'Brazil', 'Part-time employed')
('18-24', 'Female', 'Netherlands', 'Full-time employed')
('25-34', 'Male', 'Netherlands', 'Part-time employed')
('25-34', 'Male', 'United Kingdom of Great Britain and Northern Ireland', 'Full-time employed')
('18-24', 'Female', 'Malaysia', 'Full-time employed')
('18-24', 'Female', 'India', 'Full-time employed')
('25-34', 'Male', 'India', 'At university')
('18-24', 'Female', 'Indonesia', 'At university')
('18-24', 'Female', 'United States of America', 'Full-time employed')
('18-24', 'Female', 'France', 'Full-time employed')
('18-24', 'Male', 'Indonesia', 'Full-time employed')
('65+', 'Male', 'Malaysia', 'Full-time employed')
('18-24', 'Male', 'Peru', 'Full-time employed')
('18-24', 'Female', 'Australia', 'Part-time employed')
('65+', 'Male', 'Malaysia', 'Retired')
('18-24', 'Male', 'Russian Federation', 'Full-time employed')
('18-24', 'Male', 'Indonesia', 'Full-time employed')
('25-34', 'Male', 'United Kingdom of Great Britain and Northern Ireland', 'Full-time employed')
('25-34', 'Female', 'Poland', 'Part-time employed')
('25-34', 'Female', 'United Kingdom of Great Britain and Northern Ireland', 'Full-time employed')
('35-44', 'Male', 'New Zealand', 'Full-time employed')
('18-24', 'Female', 'Morocco', 'Full-time employed')